{% extends "base.html" %}
{% load static %}
{% block head_title %}Home{% endblock %}

{% block content %}
    <section class="container">
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <img class="home-image" src="{% static 'images/hex-logo-desktop.png' %}" alt="Hex Cosmetics Logo">
            </div>
            <div class="col-12 col-md-6 shop-all justify-content-center">
                <h1>
                    <a href="{% url 'products' %}">
                        <span class="btn submit-button"><strong>Shop all products</strong></span>
                    </a>
                </h1>
            </div>
        </div>
    </section>
    <section class="container">
        <hr class="rose-rule">
        <div class="row text-center">
        {% for category in all_categories %}
            <div class="col-12 col-md-6 col-lg-3">
                <h4>
                    <a class="card category-card" href="{% url 'products_by_category' category.slug %}">
                    {% if category.image %}
                        <img class="category-image" src="{{ MEDIA_URL }}{{ category.image }}" alt="Shop {{ category.friendly_name }}">
                    {% else %}
                        <img class="category-image" src="{{ MEDIA_URL }}noimage.png" alt="Shop {{ category.friendly_name }}">
                    {% endif %}
                        <span class="category-friendly-name"><strong>Shop {{ category.friendly_name }}</strong></span>
                    </a>
                </h4>
            </div> 
        {% endfor %}
        </div>
        <hr class="rose-rule">
    </section>
{% endblock %} 