{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">My Profile</h2>
                <hr class="rose-rule">
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <a href="" class="btn submit-button">
                    <span >
                        <i class="fas fa-user-circle"></i>
                    </span>
                    <span>My Details</span>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="" class="btn submit-button">
                    <span >
                        <i class="fas fa-th-list"></i>
                    </span>
                    <span>Order History</span>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="" class="btn submit-button">
                    <span >
                        <i class="fas fa-heart"></i>
                    </span>
                    <span>Wishlist</span>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="" class="btn submit-button">
                    <span >
                        <i class="fas fa-lock"></i>
                    </span>
                    <span>Change Password</span>
                </a>
            </div>
        </div>

        
    </div>
{% endblock %}


        