{% extends "base.html" %}
{% load static %}
{% block head_title %}Order History{% endblock %}

{% block content %}
    <section class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>Order History</h1>
                <hr class="rose-rule">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                {% include 'profiles/includes/profile_nav.html' %}
            </div>
            <div class="col-12 col-md-8">
                {% if count < 1 %}
                <p class="text-muted"><strong>You haven't placed any orders yet.</strong></p>
                {% else %}
                <p class="text-muted"><strong>Click below to view your order details</strong></p>
                <div id="accordion-order-history">
                    {% for order in orders %}
                    <div class="card">
                        <div class="card-header" id="accordionHeadingId_{{order.order_number}}">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAccordionId_{{order.order_number}}" aria-expanded="true" aria-controls="collapseAccordionId_{{order.order_number}}">
                                <span class="order-date"><i class="fas fa-plus mr-2"></i>{{ order.date_ordered }}</span>   
                                <span><strong>£{{ order.grand_total }}</strong></span>
                            </button>
                        </div>
                        <div id="collapseAccordionId_{{order.order_number}}" class="collapse" aria-labelledby="accordionHeadingId_{{order.order_number}}" data-parent="#accordion-order-history">
                            <div class="card-body">
                                <p class="text-muted"><strong>Order Number: </strong>{{ order.order_number}}</p>
                                <hr class="rose-rule">
                                {% include 'checkout/includes/checkout_success_order_items.html' %}
                                {% if order.delivery_cost %}
                                    <hr class="rose-rule">
                                    <p>Delivery Charge: <strong>£{{ order.delivery_cost }}</strong></p>
                                {% endif %}  
                                <hr class="rose-rule">
                                <p class="text-muted"><strong>Delivery address</strong></p>
                                <p>
                                {{order.full_name}}<br>
                                {{order.address_1}}<br>
                                {% if order.address_2 %}
                                    {{order.address_2}}<br>
                                {% endif %}
                                {{order.city}}<br>
                                {% if order.county %}
                                    {{order.county}}<br>
                                {% endif %}
                                {{order.country}}<br>
                                {% if order.postcode %}
                                    {{order.postcode}}<br>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <hr class="rose-rule">
    </section>
{% endblock %}