{% extends "base.html" %}
{% load static %}
{% block head_title %}Checkout Success{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Order Confirmation</h2>
            </div>
        </div>
        {% include 'basket/includes/order_progress.html' %}
        <div class="row mb-5">
            <div class="col-12">
                <p class="text-center"><strong>
                    Your order number is {{order.order_number}}.<br><br>
                    A confirmation email will be sent to {{order.email}}</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-5">
                <p class="text-muted"><strong>Delivery address</strong></p>
                <hr class="rose-rule">
                <p>
                {{order.full_name}}<br>
                {{order.address_1}}<br>
                {% if order.address_2 %}
                    {{order.address_2}}<br>
                {% endif %}
                {{order.city}}<br>
                {% if order.county %}
                    {{order.county}}<br>
                {% endif %}
                {{order.country}}<br>
                {% if order.postcode %}
                    {{order.postcode}}<br>
                {% endif %}
                </p>
            </div>
            <div class="col-12 col-lg-6 mb-5">
                <p class="text-muted"><strong>Your order</strong></p>
                <hr class="rose-rule">
                {% include 'checkout/includes/checkout_success_order_items.html' %}
            </div>
        </div>
        <hr class="rose-rule">

        <a href="{% url 'products' %}" class="btn submit-button">
            <span><i class="fas fa-chevron-left fa-xs"></i></span>
            <span>Back to Shop</span>
        </a>
    </section>
{% endblock %}