{% extends 'base.html' %}
{% load static %}
{% block head_title %}Basket{% endblock %}


{% block content %}
    <section class="container">
        <div class="row text-center">
            <div class="col-12">
                {% if empty_basket %}
                    <h1 class="mb-3">Your basket is currently empty!</h1>
                    <a href="{% url 'products' %}" class="btn submit-button">
                        <span>Continue shopping</span>
                        <span><i class="fas fa-chevron-right fa-xs ml-2"></i></span>
                    </a>
                {% else %}
                    <h1>Basket</h1>
                {% endif %}
            </div>
        </div>
        {% if not empty_basket %}
            {% include 'basket/includes/order_progress.html' %}
        {% endif %}
        <div class="row">
            {% for item in basket_items %}
            <div class="col-12 col-md-3">
                <div class="row text-center">
                    <div class="col-2">
                        <a  href="{% url 'remove_from_basket' item.colour.id %}" aria-label="remove from basket">
                            <span class="remove-basket"><i class="fas fa-trash"></i></span>
                        </a>
                    </div>
                    <div class="col-8">
                        {% if item.product.image_url %}
                            <a href="{{item.product.get_absolute_url}}">
                                <img class="basket-image" src="{{ item.product.image_url }}" alt="{{ item.product.product_name}}">
                            </a>
                        {% else %}
                            <a href="{{item.product.get_absolute_url}}">
                                <img class="basket-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.product_name }}">
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row text-center">
                    <div class="col-12">
                        <h5><strong>{{ item.product.product_name }}</strong></h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <h6>{{ item.colour.colour }}</h6>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <h6>£{{ item.product.price }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-9">
                        <form id="basket-qty-update-form_{{item.product.id}}" class="form update-form" method="POST" action="{% url 'update_basket' item.colour.id  %}">
                            {% csrf_token %} 
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <a class="decrement-qty btn submit-button" 
                                            data-item_id="{{ item.product.id }}" id="decrement-qty_{{ item.product.id }}">
                                            <span><i class="fas fa-minus"></i></span>
                                        </a>
                                    </div>
                                        <input class="form-control qty_input" type="number" 
                                            name="quantity" value="{{ item.quantity }}" min="0" max="99" 
                                            data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">
                                    <div class="input-group-append">
                                        <a class="increment-qty btn submit-button"
                                            data-item_id="{{ item.product.id }}" id="increment-qty_{{ item.product.id }}">
                                            <span><i class="fas fa-plus"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3">
                        <p id="id-total-{{ item.product.id }}" class="my-0"><strong>£{{ item.item_total }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr class="rose-rule">
            </div>
            {% endfor %}
            {% if not empty_basket %}
            <div class="col-12 text-right">
                <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                {% if free_delivery_delta > 0 %}
                    <p>You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!</p>
                {% endif %}
            </div>
            <div class="col-12 text-right">
                <a href="{% url 'products' %}" class="btn submit-button checkout-button">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a> 
                <a href="{% url 'checkout' %}" class="btn submit-button checkout-button">
                    <span>Secure Checkout</span>
                    <span><i class="fas fa-lock"></i></span>
                </a>    
            </div>
            {% endif %}
        </div>
        <hr class="rose-rule">
    </section>
    
   
{% endblock %}
