html {
    scroll-behavior: smooth;
}

main {
    padding-top: 100px;
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}

.row {
    margin:0;
}

.rose-rule {
    border-color: #f8bab1;
}

.white-rule {
    border-color: #fff;
}

#logo-image {
    top: 0;
    left: 0;
    max-width: 150px;
    object-fit: contain;
    border-radius: 2px;
}

nav {
    border-bottom: 2px solid #f8bab1;
}

.navbar {
    z-index: 1;
    font-size: 1.25em;
    background-color: #fff;
    position: fixed;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover, .dropdown-item:hover {
    color: #fff;
    background-color: #f8bab1;
    transition: .25s ease-in-out;
    border-radius: 2px;
}

.navbar-light .navbar-nav .nav-link:hover .nav-icon, .remove-basket:hover {
    color:#000;
    transition: .25s ease-in-out;
}

.nav-icon, .dropdown, .remove-basket {
    color: #f8bab1;
}

.navbar .navbar-collapse {
    text-align: center;
    padding: 10px;
}

/* Styling for Toasts */

.message-container {
    margin-bottom: 2em;
}

.message {
    width: 100%;
    padding: 0.5em;    
    text-align: center;
    border-radius: 5px;
}

.message-text {
    margin: auto;
}

.message-success {
    background-color:green;
    color: #fff;
}

.message-warning {
    background-color:orange;
}

.message-info {
    background-color:lightblue;
}

.message-error {
    background-color:red;
    color: #fff;
}

.form-control, .dropdown-menu {
    border: 1px solid #f8bab1;
    margin-left: 1px;
    margin-right: 1px;
}

.form-control:focus {
  border-color: #f8bab1;
  box-shadow: inset 0 1px 1px #f8bab1, 0 0 8px #f8bab1;
}

.form-inline  {
    flex-flow: row nowrap;
}

.scroll-top-button {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 3;
    border: 1px solid #fff;
    background-color: #f8bab1;
    color: #fff;
    display: None
}

.featured-products-heading {
    margin-top: 2em;
}

.featured-listing-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
    padding: 5px;
    background-color: #f8bab1;
}

.carousel {
    margin-top: 2em;
    margin-bottom: 4em;
}

.carousel-cell {
    height: 200px;
    width: 200px;
    margin: 1em;
    border: 1px solid #f8bab1;
    border-radius: 5px;
    text-align: center;
}

.featured-listing-image {
    padding-top: 10px;
    max-width:80%;
    max-height:80%;
    object-fit: contain;
}

.flickity-page-dots .dot {
  background: transparent;

}

.flickity-page-dots .dot.is-selected {
  background: transparent;
}

.flickity-button {
  background: transparent;
}

.flickity-button-icon {
  fill: #f8bab1;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #f8bab1;
}

#footer {
    background-color: #f8bab1;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.footer-row {
    padding: 1em;

}

.footer-header {
    margin-top: 1em;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
} 

.footer-link a {
    text-decoration: underline;
    text-decoration-color: #fff;
    color: #fff;
}

.footer-link a:hover {
    color: #000;
    text-decoration-color: #000;
    transition: .25s ease-in-out;
}

.social-icon i {
    font-size: 1.5em;
    text-align: center;
    color: #f8bab1;
    padding: 0.25em;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid transparent;
}

.social-icon i:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #f8bab1;
    transition: .25s ease-in-out;
}

.submit-button, .breadcrumb {
    background-color: #f8bab1;
}

.submit-button:hover {
    color: #fff;
    background-color: #f8bab1;
    transition: .25s ease-in-out;
}

.white-border {
    border-radius: 5px;
    border: 2px solid #fff;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: none;
}

.subscribe-button {
    color: #fff;
}

.subscribe-button:hover {
    color: #000;
}

/* Styling for Home/Index.html */
.home-image {
    width: 100%;
    margin-bottom:1em;
}

.shop-all{
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.category-card {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: none;
}

.category-image {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    object-fit: cover;
}

.category-image:hover, .listing-card:hover, .carousel-cell:hover {
    text-decoration: none;
    box-shadow: inset 0 1px 1px #f8bab1, 0 0 8px #f8bab1;
    transition: .25s ease-in-out;
}

.category-friendly-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
    background-color: #f8bab1db;
}

/* Styling for listings */
#breadcrumb-nav {
    border: none;
}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item a:hover {
    color: #fff;
    text-decoration: none;
}

.product-sort-button, .search-row  {
    background-color: #f8bab1;
    color: #000;
    border-radius: 5px;
}

.listing-card {
    margin: 10px;
    border-color: #f8bab1;
    color: #000;
}

.listing-card:hover {
    text-decoration: none;
    box-shadow: inset 0 1px 1px #f8bab1, 0 0 8px #f8bab1;
    transition: .25s ease-in-out;
    color: #000;
}

.listing-image-container {
    height: 150px;
    max-width: 150px;
    display: flex;
    align-items: center;
}

.listing-image {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    padding-top: 10px;
}

.listing-title {
    height: 4rem;
    padding: 5px;
    text-align: center;
}

.listing-name {
    height: 100%;  
}

.listing-info {
    height: 100%; 
    padding: 5px;
    background-color:  #f8bab1;
    color: #000;
}

.product-name, .product-price {
    margin:0;
}

/* Styling for products details */

.product-details-container {
    text-align: center;
    margin-top: 20px;
}

#accordion-mobile {
    text-align: left;
}

.product-details-image-container {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
}

.product-details-image {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

.input-group-append .btn, .input-group-prepend .btn  {
    z-index: 0;
}
/* Styling for basket */

#order-progress {
    margin-top: 2em;
    margin-bottom: 2em;
}

.basket-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.checkout-button, .profile-button {
    margin: 0.25em;
}

/* Styling for faqs */
    
#accordion {
    width: 100%;
}

.card-header {
    padding: 0;
}

.card-header {
    background-color:  #f8bab1;
}

.btn-link, .btn-link:focus  {
    text-decoration: none;
    color: #000;
    width: 100%;
    text-align: left;
}

.btn-link:hover {
    text-decoration: none;
    color: #fff;
}

.order-date {
    margin-right: 2em;
}

.steps-form {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.steps-form .steps-row {
    display: table-row;
}

.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative;
    padding: 1em; 
}

.step-icon {
    background-color: #e6ebf1;
    border-radius: 5px;
    padding: 0.25em;  
}

.step-icon.active {
    background-color: #f8bab1;
    color: #fff;
    border-radius: 5px;
    padding: 0.25em;  
}
