html {
    scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

hr {
    border-color: #f8bab1;
}

#logo-image {
    top: 0;
    left: 0;
    max-width: 225px;
    object-fit: contain;
    border-radius: 2px;
}

.navbar {
    font-size: 0.8em;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover, .dropdown-item:hover{
    color: #fff;
    background-color: #f8bab1;
    transition: .25s ease-in-out;
    border-radius: 2px;
}

.navbar-light .navbar-nav .nav-link:hover .nav-icon{
    color:#000;
    transition: .25s ease-in-out;
}

.nav-icon, .dropdown {
    color: #f8bab1;
}

.form-control, .dropdown-menu {
    border: 1px solid #f8bab1;
}

.form-control:focus {
  border-color: #f8bab1;
  box-shadow: inset 0 1px 1px #f8bab1, 0 0 8px #f8bab1;
}

.form-inline  {
    flex-flow: row nowrap;
}

.banner {
    background-color: #f8bab1;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}