{% load static %}
<h4 class="featured-products-heading mx-auto"><i class="fas fa-star"></i> Featured Products <i class="fas fa-star"></i></h4>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "groupCells": true, "wrapAround": true}'>
{% for product in featured_products %}
    <div class="carousel-cell">
        <a class="featured-listing-link" href="{{product.get_absolute_url}}">
            {% if product.image_url %}
                <img class="featured-listing-image" src="{{ product.image_url }}" alt="{{ product.product_name }}">
            {% else %}
                <img class="featured-listing-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product_name }}">
            {% endif %}
            <div class="featured-listing-info d-flex justify-content-between">
                <p class="product-name"><strong>{{ product.brand_name }}</strong></p>
                <p class="product-name"><strong>£{{ product.price }}</strong></p>
            </div>
        </a>
    </div>
{% endfor %}
</div>
