{% load static %}

<footer id="footer" class="container-fluid">
    <div class="row footer-row">
        <div class="col-12 col-lg-4">
            <p>
                <i class="fas fa-question-circle"></i> 
                Need some help?
            </p>
            <hr>
        </div>
        <div class="col-12 col-lg-4">
            <p>
                <i class="fas fa-envelope"></i>
                Newsletter
            </p>
            <hr>
        </div>
        <div class="col-12 col-lg-4">
            <p>
                <i class="fas fa-thumbs-up"></i>
                Social Media
            </p>
            <hr>
            <p> Like, Follow and Subscribe to our social media pages to get access to our exclusive products and offers. 
			<ul class="list-inline">
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="https://en-gb.facebook.com/" target="_blank" rel="noopener" aria-label="Like us on Facebook">
						<i class="fab fa-facebook-square" aria-hidden="true"></i>
						<span class="sr-only">Facebook</span>
					</a>
				</li>
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="https://twitter.com/?lang=en-gb" target="_blank" rel="noopener" aria-label="Follow us on Twitter">
						<i class="fab fa-twitter-square" aria-hidden="true"></i>
						<span class="sr-only">Twitter</span>
					</a>
				</li>
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="https://www.instagram.com/?hl=en" target="_blank" rel="noopener" aria-label="Follow us on Instagram">
						<i class="fab fa-instagram" aria-hidden="true"></i>
						<span class="sr-only">Instagram</span>
					</a>
				</li>
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="http://www.youtube.com/" target="_blank" rel="noopener" aria-label="Subscribe on Youtube">
						<i class="fab fa-youtube-square" aria-hidden="true"></i>
						<span class="sr-only">YouTube</span>
					</a>
				</li>
			</ul>
		</div>
        </div>  
    </div>
</footer>