{% load static %}

<footer id="footer" class="container-fluid">
    <div class="row footer-row">
        <div class="col-12 col-lg-4">
            <p class="footer-header">
                <i class="fas fa-question-circle"></i>&emsp;
                <strong>Need some help?</strong>
            </p>
            <hr class="d-none d-lg-block white-rule">
            <p>The HEX team are available Monday - Friday from 8am - 6pm</p>
            <ul>
                <li class="footer-link"><a href="">About</a></li>
                <li class="footer-link"><a href="{% url 'faqs' %}">FAQs</a></li>
                <li class="footer-link"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="col-12 col-lg-4">
            <hr class="d-lg-none white-rule">
            <p class="footer-header">
                <i class="fas fa-envelope"></i>&emsp;
                <strong>Newsletter</strong>
            </p>
            <hr class="d-none d-lg-block white-rule">
            <p>Get more to smile about directly to your inbox. We'll send you details of our newest ranges and special offers.</p>
            <form id="subscription_form" action="{% url 'subscribe' %}" method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ sub_form|crispy }}
                    <small id="emailHelp">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn submit-button"><span>Subscribe</span>&nbsp;<span><i class="fas fa-bell"></i></span></button>
                <input type="hidden" name="subscribe_redirect" value="{{ request.path }}">
            </form>
        </div>
        <div class="col-12 col-lg-4">
            <hr class="d-lg-none white-rule">
            <p class="footer-header">
                <i class="fas fa-thumbs-up"></i>&emsp;
                <strong>Social Media</strong>
            </p>
            <hr class="d-none d-lg-block white-rule">
            <p> Like, Follow and Subscribe to our social media pages to get access to our exclusive products and offers. 
			<ul class="list-inline">
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="https://en-gb.facebook.com/" target="_blank" rel="noopener" aria-label="Like us on Facebook">
						<i class="fab fa-facebook-square" aria-hidden="true"></i>
						<span class="sr-only">Facebook</span>
					</a>
				</li>
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="https://twitter.com/?lang=en-gb" target="_blank" rel="noopener" aria-label="Follow us on Twitter">
						<i class="fab fa-twitter-square" aria-hidden="true"></i>
						<span class="sr-only">Twitter</span>
					</a>
				</li>
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="https://www.instagram.com/?hl=en" target="_blank" rel="noopener" aria-label="Follow us on Instagram">
						<i class="fab fa-instagram" aria-hidden="true"></i>
						<span class="sr-only">Instagram</span>
					</a>
				</li>
				<li class="list-inline-item social-icon text-center text-md-right">
					<a href="http://www.youtube.com/" target="_blank" rel="noopener" aria-label="Subscribe on Youtube">
						<i class="fab fa-youtube-square" aria-hidden="true"></i>
						<span class="sr-only">YouTube</span>
					</a>
				</li>
			</ul>
		</div>
        </div>  
    </div>
</footer>