{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="logo-link" href="{% url 'home' %}">
        <img  class="main-logo-image" id="logo-image" src="{% static 'images/hex-logo-desktop.png' %}" alt="Hex Cosmetics Logo"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Brands
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Specials
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                </div>
            </li>
        </ul>
        <hr class="d-block d-sm-none">
        <form class="form-inline mr-sm-2" method="GET" action="">
            <input class="form-control search-bar" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn nav-icon" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>    
        <hr class="d-block d-sm-none">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="nav-icon fas fa-home"></i> Home
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-icon fas fa-user-circle"></i>
                    My Account
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-icon fas fa-user-circle"></i>
                    My Account
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Register</a>
                    <a class="dropdown-item" href="#">Log in</a>
                </div>
            </li>
            {% endif  %}
            <li class="list-inline-item">
                <a class="nav-link" href="">
                    <p class="my-0">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </a>
            </li>
        </ul>
    </div>            
</nav>
<hr>