{% extends "base.html" %}
{% load static %}
{% block head_title %}About{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <img class="home-image" src="{% static 'images/hex-logo-desktop.png' %}" alt="Hex Cosmetics Logo">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>About us</h3>
                <hr class="rose-rule">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <p>We realize that combining healthy skin and makeup can be a mind-boggling background.</p>
                <p>That is the reason we cautiously screen and test all our products, ensuring they are beneficial for you and work extraordinarily.</p> 
                <p>Here you’ll discover just the best in breed, and we endeavor to offer something special every time.</p>
                <p>Our guarantee to you is that we only stock natural cosmetics that are free from fixings, such as parabens.</p> 
                <p>Likewise, they ought to be delivered by moral and enthusiastic organizations with a mindful way to deal with the earth!</p>
                <p>For each buy you make at HEX Cosmetics, you’re adding to some pretty amazing activities; We spend as much as we can on little, transparent philanthropy ventures, KIVA Loans, and we plant a tree with each purchase.</p>
                <p>That is the reason our witticism is: <strong>Look Better. Feel Better</strong></p>
            </div>
        </div>
        <hr class="rose-rule">
    </section>
{% endblock %}