{% extends "base.html" %}
{% load static %}
{% block head_title %}About{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <img class="home-image" src="{% static 'images/hex-logo-desktop.png' %}" alt="Hex Cosmetics Logo">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <p>We realize that looking for healthy skin, makeup and other magnificence items can be a mind-boggling background. 
                <p>That is the reason we are in every case cautiously screening and testing many items, ensuring they are beneficial for you and work extraordinarily.</p> 
                <p>Here you’ll discover just the best in breed, and we endeavor to offer something in each value go.</p>
                <p>Our guarantee to you is that we just stock viable, perfect, natural and common cosmetics that are free from fixings, for example, parabens.</p> 
                <p>They ought to likewise be delivered by moral and enthusiastic organizations; which means definitely no creature testing, a mindful way to deal with the earth and heaps of affection immersed your natural healthy skin alongside the best fixings nature brings to the table!</p>
                <p>For each buy you make at HEX Cosmetics, you’re adding to some pretty amazing activities; We spend as much as we can on little, transparent philanthropy ventures, KIVA Loans, and we plant a tree with each request.</p>
                <p>That is the reason our witticism is: <strong>Look Better. Feel Better</strong></p>
            </div>
        </div>
        <hr class="rose-rule">
    </section>
{% endblock %}