{% extends "base.html" %}
{% load static %}

{% block page-header %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
        {% for product in products %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a class="card product-card" href="">
                    <div class="mx-auto">
                        <img class="product-image" src="{{ product.image_url }}" alt="{{ product.product_name }}">
                    </div>
                    <div class="product-details">
                        <div class="listing-product-name">
                            <h5>{{ product.product_name }}</h5>
                        </div>
                        <hr class="white-rule">
                        <div class="listing-info d-flex justify-content-between">
                            <p>{{ product.brand_name }}</p>
                            <p><strong>£{{ product.price }}</strong></p>
                        </div>
                    </div>
                    <button class="btn submit-button"><strong>View colour options</strong></button>
                </a>
            </div>   
        {% endfor %}
        </div>
    </div>

{% endblock %} 




    
