{% extends "base.html" %}
{% load static %}
{% block head_title %}{% if category %}{{category.friendly_name}}{% else %}All Products{% endif %}{% endblock %}

{% block content %}
    <section class="container">
        {% if not products %}
        <div class="row">
            <div class="col-12 text-center">
                <h3>Unfortunately we don't currently have any products available.</h3>
            </div>
        </div>
        {% else %}
        <div class="row">
            {% include 'products/includes/breadcrumbs.html' %}
        </div>
        <div class="row">
            {% include 'products/includes/product_sort.html' %}
        </div>
        <div class="row">
            {% include 'products/includes/product_results.html' %}
        </div>
        <hr class="rose-rule">
        {% endif %}
    </section>
{% endblock %} 