{% extends "base.html" %}
{% load static %}
{% block head_title %}Products{% endblock %}

{% block content %}
    <div class="container">
        {% if not products %}
        <div class="row">
            <div class="col-12 text-center">
                <h3>Unfortunately we don't currently have any products available.</h3>
            </div>
        </div>
        {% else %}
        <div class="row">
            {% include 'products/includes/product_sort.html' %}
        </div>
        <div class="row">
            {% include 'products/includes/product_results.html' %}
        </div>
        <hr class="rose-rule">
        {% endif %}
    </div>
{% endblock %} 